.discipline_page {
    display: flex;
    gap: 2rem;
}

.section_discipline {
    padding-top: var(--padding-top-global);
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius:.5rem;
    }
}


.list_discipline {
    display: flex;
    flex-wrap: wrap;
    row-gap: .4rem;
}



