.card_title {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-bottom: 1.4rem;

    strong {
        font-size: var(--h2-font-size);
    }

    small {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }
}

.title_description_loginfrom {
    display: flex;
    flex-direction: column;


    p {
        font-weight: var(--font-semibold);

        span {
            color: var(--first-color);
        }
    }

    strong {
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);
        color: #1b2f45;
    }
}