.home_page {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;

}

.card_horary {
    padding-top: var(--padding-top-global);
}

.section_home_page {
    padding: var(--padding-top-global) .75rem 0 .75rem;
    flex: 1;
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius:.5rem;
    }
}







.ul_react {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid red;

    li {

        a {
            color: var(--text-color);
            transition:.3s;
            background-color: var(--body-color-light);
            padding: .7rem .8rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            gap: .4rem;
            transition: .3s;

            span, i {
                font-size: var(--small-font-size);
                font-weight: var(--font-semibold);
            }
        }

        &:nth-child(1) a {
            background-color: #b62a2a10;
            color: #b62a2a;

            &:is(:hover, :focus) {
                background-color: #b62a2a;
                color: #fff;
            }
        }

        &:nth-child(2) a {
            background-color: #23238510;
            color: #1d1d8f96;

        }

    }
}

