.class_page {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2.5rem;
}

.section_content_class {
    padding-top: var(--padding-top-global);
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 10rem;


    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius:.5rem;
    }
}

.card_info_class {
    display: flex;
    align-items: start;
    gap: 3.5rem;
}

.card_info_class_left {
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    
    > div {
        display: flex;
        align-items: end;        
    }

    > small {
        color: var(--text-color-light);
    }

    .card_img_class {
        border: 3px solid var(--first-color);
        width: 170px;
        height: 170px;
        border-radius: 50%;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        > div {
            width: 100%;
            height: 100%;
            background-color: var(--text-color);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .25rem;
    
            svg {
                fill: var(--body-color-light);
                width: 60px;
                height: 60px;
            }
    
            span {
                color: #fff;
                font-size: var(--h1-font-size);
                font-weight: var(--font-bold);
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    
    .card_img_and_name_coord_class {
        display: flex;
        align-items: end;
        gap: .45rem;
    
    
        .card_img_coord {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border: 2px solid var(--first-color);
            padding: 3px;
            margin-left: -45px;
        
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .name_and_icon_coord_class {
            display: flex;
            flex-direction: column;
        
            small {
                display: flex;
                align-items: center;
                gap: .15rem;
        
                span {
                    color: var(--text-color-light);
                    font-weight: var(--font-bold);
                }
        
                svg {
                    fill: var(--text-color-light);
                }
            }
        }
    }
}

.card_info_class_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: .5rem; 

    ul {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        

        li {
            display: flex;
            flex-direction: column;
            gap:.25rem;
            border-radius: var(--border-radius);
            padding: 1rem 2rem;
            background-color: var(--body-color-light);
            border: 3px solid transparent;

            &:hover {
                border-color: var(--first-color);
                cursor: pointer;
            }

            strong {
                display: flex;
                align-items: center;
                gap: 1rem;

                svg {
                    transform: scale(1.4);
                    fill: var(--first-color)
                }
                
                span {
                    font-size: var(--normal-font-size);
                    text-transform: uppercase;
                }
            }

            > span {
                margin-left: 2rem;
            }

            &:last-child {

                > span {
                    text-transform: uppercase;
                }
            }
        }
    }
}


.horary_class {
    display: none;
    flex-direction: column;
    gap: .75rem;
    margin: 2rem 0;

    .body {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 4.5rem;
        padding: 1rem .75rem 0 .75rem;
    }
}


.nav_classe {
    border: none !important;
    background-color: var(--body-color-light);
    border-radius: 50px;
    width: fit-content;
    transition: 0.3s all;
    display: flex;
    align-items: stretch;
    gap: .25rem;
    padding:  .55rem !important;

    li {
        
        button {
            border: none !important;
            border-radius: 50px !important;
            font-weight: var(--font-medium);
            font-size: var(--small-font-size);
            color: var(--text-color);
            transition: .2s all;
            padding: .65rem 1.4rem;

            &.active {
                background-color: #fff !important;
                color: var(--first-color) !important;
                box-shadow: var(--box-shadow);
            }

            &:is(:hover, :focus, :active) {
                color: var(--first-color) !important;
                box-shadow: var(--box-shadow);
            }
        }
    }
}


.containr_tab {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    .head {
        padding: 0;
        margin-bottom: 2.5rem;       
    }
}

.tab_nav_student_class {

    .head {
        display: flex;
        flex-direction: column;
    }

    .list_student_class {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}

.tab_nav_discipline_teacher {
    
    .head {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10rem;

        .btn_add_discipline_teacher {
            border: 2px solid var(--first-color);
            width: 39rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .9rem 0;  
            border-radius: 50px; 
            gap: .75;   
            transition: .2s all;

            &:hover {
                cursor: pointer;
                background-color: var(--first-color);
                box-shadow: var(--box-shadow);

                span, svg {
                    color: #fff;
                    fill: #fff;
                }
            }

            span {
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }
        }

    }

    .list_discipline_teacher {
        display: flex;
        flex-wrap: wrap;
        gap: .45rem;
    }

}


.tab_nav_mini_note_class {

    .head {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .btnDownloadMiniPauta {
            background-color: var(--body-color-light);
            padding: 1rem 1.5rem;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            gap: .25rem;
            margin-top: 2rem;
            transition: .2s all;

            span {
                font-size: var(--small-font-size);
                font-weight: var(--font-medium);
            }


            &:is(:hover, :focus) {
                background-color: var(--first-color);
                box-shadow: var(--box-shadow);

                svg {
                    fill: #fff;
                }

                span {
                    color: #fff;
                }
            }
    }
}











































@keyframes anime-move-my-cart {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}