.card_profile {
    padding-top: var(--padding-top-global);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.img_name_level {
    display: flex;
    align-items: end;
    gap: .45rem;

    .cicle_img{
        width: 100px !important;
        height: 100px !important;
        border-radius: 50%;
        padding: 4px;
        border: 3px solid var(--first-color);
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .name_level {
        flex: 1;
        display: flex;
        flex-direction: column;
        transform: translateY(-12px);
    
    
        > a {
            font-size: var(--h3-font-size);
            color: var(--text-color);
            font-weight: var(--font-semibold);
            text-wrap: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        small {
            display: flex;
            align-items: center;
            gap: .25rem;
    
            svg {
                fill: var(--text-color-light);
            }
    
            span {
                font-size: var(--small-font-size);
                color: var(--text-color-light);
                font-weight: var(--font-semibold);
            }
        }
    }

}
.nav_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
            width: var(--h1-font-size);
            height: var(--h1-font-size);
            fill: var(--first-color);
        }

        small {
            font-size: var(--smaller-font-size);
            font-weight: var(--font-semibold);
            margin: .25rem 0;
        }

        span {
            /* font-size: var(--small-font-size); */
            color: var(--text-color-light);
            font-weight: var(--font-semibold);
        }
    }
}
.about_me {
    width: 100%;
    text-indent: 6rem;
}