.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    backdrop-filter: blur(30px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-fixed);
    transition: .6s ease-in;
    background: transparent;
    box-shadow: var(--box-shadow);
}
.header-color {
    height: var(--header-height);
    /* background: #bec7cf31; */
    background-color: #3e3e3e04;
    backdrop-filter: blur(6px);
    box-shadow: var(--box-shadow);
}
.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_logo_button_aside {
    display: flex;
    align-items: center;
    gap: 2rem;

    .logo {
        color: var(--text-color);
        font-size: var(--h1-font-size);
        font-weight: var(--font-semibold);
        display: flex;
        align-items: center;
    }

    .logo img {
        width: var(--h1-font-size);
    }
    .logo span {
        color: var(--first-color);
        font-size: var(--h1-font-size);
    }
    
    svg {
        width: var(--h1-font-size);
        height: var(--h1-font-size);
        transition: .2s all;
        display: none;
    }
}


.nav_header_link {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.link_news {
    transition: .2s all;
    color: var(--text-color);

    svg {
        width: var(--normal-font-size);
        height: var(--normal-font-size);
        transition: .2s all;


        &:is(:hover, :focus) {
            color: var(--first-color) !important;
        }
    }
}
.link_news i {
    font-size: var(--normal-font-size);
}
.link_news:hover{
    transform: rotate(16deg);
    color: var(--first-color);
}


.card_img_and_name {
    display: flex;
    align-items: center;
    gap: .30rem;
    position: relative;
    cursor: pointer;
}
.card_img_header {
    width: 40px;
    height: 40px;
    border: 2px solid var(--first-color);
    border-radius: 50px;
    padding: 2px;
}
.card_img_header img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.name_and_icon {
    color: var(--text-color);
    transform: translateY(1px);
    display: flex;
    flex-direction: column;


    small {
        display: flex;
        align-items: center;
        gap: .25rem;

        svg {
            fill: var(--text-color-light)
        }
        span {
            font-size: 11px;
            color: var(--text-color-light);
        }
         
    }
}
.name_and_icon span {
    font-weight: var(--font-semibold);
}


.list_dropdown_header {
    width: 200px;
    position: absolute;
    transform: translateY(68%) translateX(-50%);
    background: #fff;
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    padding: 2.2rem 0 0 0;
    border-radius: 1.5rem;
    display: none;
    flex-direction: column;
}
#list-dropdown-header li a {
    display: flex;
    align-items: center;
    gap: .45rem;
    border-bottom: 1px solid var(--body-color-light);
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem 1.5rem;
    color: var(--text-color);
    transition: .3s all;
}
#list-dropdown-header li a span {
    font-size: var(--small-font-size);
}
#list-dropdown-header li a:hover {
    color: var(--first-color);
    border-color: var(--first-color);
}
