.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    backdrop-filter: blur(30px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-fixed);
    transition: .6s ease-in;
    background: transparent;
    box-shadow: var(--box-shadow);
}

.header-color {
    height: var(--header-height);
    background: #bec7cf31;
    backdrop-filter: blur(6px);
    box-shadow: var(--box-shadow);
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.card_logo_button_aside {
    display: flex;
    align-items: center;
    gap: 4rem;

    .logo {
        color: var(--text-color);
        font-size: var(--h1-font-size);
        font-weight: var(--font-semibold);
        display: flex;
        
        > div, > div span{
            font-size: var(--h1-font-size);

            span {
                color: var(--first-color);
            }
        }

        > svg {
            width: var(--biggest-font-size);
            height: var(--biggest-font-size);
            transform: translateX(8px) rotateZ(-15deg);
            fill: var(--first-color);
        }

    }
    
    > svg {
        width: var(--h1-font-size);
        height: var(--h1-font-size);
        display: none;
        transition: 2s;

        &:is(:hover, :focus) {
            fill: var(--first-color);
            cursor: pointer;
        }
    }
}

.nav_header_link {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.link_news {
    transition: .2s all;
    color: var(--text-color);

    svg {
        width: var(--normal-font-size);
        height: var(--normal-font-size);
        transition: .2s all;


        &:is(:hover, :focus) {
            color: var(--first-color) !important;
        }
    }
}

.link_news i {
    font-size: var(--normal-font-size);
}

.link_news:hover{
    transform: rotate(16deg);
    color: var(--first-color);
}

.card_img_and_name {
    display: flex;
    align-items: center;
    gap: .30rem;
    position: relative;
    cursor: pointer;
}

.card_img_header {
    width: 40px;
    height: 40px;
    border: 2px solid var(--first-color);
    border-radius: 50px;
    padding: 2px;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        overflow: hidden;


        > div {
            width: 100%;
            height: 100%;
            border-radius: 50px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--text-color);
            transition: .2s all;
    
            span {
                color: #fff;
                font-size: var(--normal-font-size);
                font-weight: var(--font-semibold);
                text-transform: uppercase;
            }
    
        }

    }

}

.name_and_icon {
    color: var(--text-color);
    transform: translateY(1px);
    display: flex;
    flex-direction: column;


    small {
        display: flex;
        align-items: center;
        gap: .25rem;

        svg {
            fill: var(--text-color-light)
        }
        span {
            font-size: 11px;
            color: var(--text-color-light);
        }
         
    }
}

.name_and_icon span {
    font-weight: var(--font-semibold);
}

@media screen and (max-width: 400px) {

    .card_logo_button_aside {
        gap: 1.5rem;

        .logo {

            > div {
                display: none;
            }
        }
    }
     
    .name_and_icon {
        display: none;
    }
}

@media screen and (max-width: 1496px) {

    .show_aside {
        display: flex !important;
    }
}