.processes {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 4em;
    right: 110px;
    background-color: var(--text-color);
    z-index: 100;
    border-radius: 50px;
    display: grid;
    place-content: center;
    box-shadow: var(--box-shadow);

    > svg {
        fill: #fff;
        transform: scale(1.4);
        transition: .4s all;
    }
}